.media-object {
  display: flex;
  align-items: flex-start;
}

.media-object__figure {
  margin-right: 1em;
  max-width: 30%;
}

.media-object__figure--border {
	border: 2px solid #fff;
}

.media-object__figure--circle {
	border-radius: 50%;
}

.media-object__content {
  flex: 1;
}

.media-object--collapse-mobile {
	@include bp(bp-mobile) {
		display: block;

		.media-object__figure {
			max-width: 100%;
			max-height: 100px;
			margin-right: 0;
			margin-bottom: 1em;
		}
	}
}