/*** TYPOGRAPHY ***/

.content h1 {
	@include font-futura;
	font-size: 2em;
	color: $yellow;
	line-height: 1.6;
	margin-bottom: .5em;

	@include bp(bp-mobile) {
		font-size: 1.125em;
	}
}

.content h2 {
	@include font-futura;
	font-size: 1.5em;
	color: $yellow;
	line-height: 1.6;
	margin-bottom: 1em;

	@include bp(bp-mobile) {
		font-size: 1em;
	}
}

.content h3 {
	@include font-futura;
	font-size: 1.375em;
	color: $yellow;
	line-height: 1.6;
	margin-bottom: .25em;
}

.content p, .content li {
	color: $text;
	font-size: 1em;
	line-height: 1.5;
	margin-bottom: 1em;

	@include bp(bp-mobile) {
		font-size: .875em;
	}
}

.content li {
	margin-left: 1em;
	margin-bottom: .75em;
}

.content a {
	@include underline-link($green-text);
	font-weight: bold;
}

.content .page-header {
	font-size: 2.5em;

	@include bp(bp-mobile) {
		font-size: 1.5em;
		margin-top: .5em;
	}
}

// blockquotes
.pull-quote {
	margin: 2em 0;

	.pull-quote__quote {
		font-size: 1.325em;
		font-style: italic;
		color: $green-text;
		quotes: "“" "”" "‘" "’";
		padding-left: 2em;
		position: relative;
		margin-bottom: .5em;

		&:before {
			content: open-quote;
			font-size: 3.5em;
			position: absolute;
			left: 0;
			top: -.4em;
		}
	}

	.pull-quote__cite {
		display: block;
		text-align: right;
		color: $grey-light;

		&:before {
			content: "-";
			padding-right: .3em;
		}
	}
}

.pull-quote--right {
	@include bp(bp-not-mobile) {
		float: right;
		max-width: 15em;
		margin: .5em 0 1em 1em;
	}
}


// Intro text -- not tied to content class
.intro-text {
	line-height: 1.5;
	margin-bottom: 2em;
	max-width: 30em;

	@include bp(bp-not-mobile) {
		font-size: 1.125em;
	}
}

.intro-text--white {
	color: #fff;
}



/*** FAQs ***/
.faq__item {
	margin-bottom: 2em;
}

.faq__item .faq__question { //specificity hack to override basic typography
	color: $green-text;
	font-size: 1.125em;

	@include bp(bp-mobile) {
		font-size: 1em;
	}
}


/*** Chamber Lies ***/
.lie__item {
	margin-bottom: 2em;
}

.lie__item .lie__claim {
	@include font-body;
	color: $grey-dark;
	// font-weight: bold;
	font-size: 1em;
}

.lie__item .lie__label {
	@include font-futura;
	color: $yellow;
	text-transform: uppercase;
	// font-size: 1.125em;
}

.lie__item .lie__label--truth {
	color: $green-text;
}

/*** News articles ***/
ul.news li {
	list-style: none;
	margin-left: 0;
}

.news .news__headline {
	font-size: 1em;
	margin-bottom: 0;
}
























