@charset "utf-8";

// Constants
$transition-time-ease: .2s ease;
$breakpoint-max: 1080px;
$breakpoint-mobile: 950px;

// reset
@import "helpers/reset";

// Mixins
@import "helpers/mixins";

// Helpers
@import "helpers/helper-classes";

// Fonts
@import "helpers/fonts";

// animations
// @import "helpers/animations";

// layouts
@import "layouts";
@import "grid";


/*********
GENERAL STYLES
*********/

/*Colors*/
$green-text: #4A8958;
$green-bg: #4A8958;
$yellow: #E99527;
$grey-dark: #53585F;
$grey-light: lighten($grey-dark, 20%);
$red: #E34110;
$text: darken($grey-dark, 10%);
$blue-dark: #005CB7;
$blue-light: #7FADDB;

body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6, p, input, button, textarea, li, div, table {
  @include font-body;
}

strong, b {font-weight: bold;}
em, i {font-style: italic;}


/**** SITE SECTIONS ****/
@import "header";
@import "footer";
@import "logo";
@import "subheader";
@import "content";
@import "sidebar";
@import "forms";
@import "hero";
@import "homepage/stories";
@import "sections";
@import "objects/link-block";
@import "objects/media-object";
@import "objects/line-nav";
@import "objects/card";
@import "share-overlay";
@import "iframes";




