---
title: "Part-Time Worker Challenges Chamber of Commerce to Survive on Her Wages"

desc: "Undeterred by Chamber’s Trump comparisons, workers will make food delivery"

---

<!-- SECTION HEADING -->
<%= partial(:subheader_generic, :locals => { :heading => 'News' }) %>

<!-- MAIN CONTENT -->
<section class="site-section">
    <div class="site-section__content content">

        <p><strong>MEDIA ADVISORY</strong></p>
        <p>FOR PLANNING PURPOSES</p>
        <p>Contact: dianna@southbaylabor.org<br>
            408.518-1034</p>

		<h2>Part-Time Worker Challenges Chamber of Commerce to Survive on Her Wages</h2>

        <p class="big-text">Undeterred by Chamber’s Trump comparisons, workers will make food delivery</p>

		<p>SAN JOSE, CA – A coalition of hourly San Jose workers, community, religious and labor leaders will rally in front of the San Jose Chamber of Commerce and Dilsa Gonzalez, a part-time worker at McDonald’s will deliver the food that she can afford with her part-time wages to Matt Mahood, the President of the Chamber. Dilsa and the coalition will be delivering the food in support of Measure E, Opportunity to Work, which will give workers the hours they need to pay the bills and put food on the table.</p>

        <p>Ms. Gonzalez wrote <a href="https://medium.com/@dilsa.gonzalez.sanjose/an-open-letter-to-matt-mahood-92ff34073f9" target="_blank">an open letter</a> to President Mahood in response to the Chamber’s opposition to Measure E and Mahood’s claim that it would be “devastating” to business. Gonzalez describes how her hours have been cut, how she’s been forced to work multiple part time jobs, and that she still goes hungry because she can’t afford to put food on the table for her family and herself. Gonzalez says in her letter to Mahood, “Even though I’ll be scrambling to pick up extra hours, I will come to you with a special delivery: a basket filled with all of the food I can afford to buy in one day on my part-time salary. Then maybe you will understand what “devastation” means for workers like me.”</p>

        <p>Mahood and the San Jose Chamber of Commerce courted controversy on Sunday with an <a href="https://www.sjchamber.com/on-measure-e-intent-is-not-the-issue/" target="_blank">early morning statement</a> comparing Ms. Gonzalez, a low-income Latina woman, and her statements to something “that feels like it came out of Donald Trump’s playbook.“ Gonzalez <a href="https://medium.com/@dilsa.gonzalez.sanjose/my-response-to-matt-mahood-b0fbf454a8fa#.is7s4eyzt" target="_blank">responded</a> to Mahood, “This week, I didn’t have enough money to go to the laundromat, so I had to wash my clothes in the sink. That’s not a stunt. That’s my life.”</p>

        <p>Gonzalez vowed to move forward with her plan to deliver the food she can afford on her part-time wages to Mahood in support of Measure E, telling Mahood in her statement, “I hope that you will come out and meet me in person so we can talk face to face, and I hope you accept this gesture as it’s intended: as an opportunity to understand the perspective of someone who just wants the opportunity to work.”</p>

        <p><strong>WHAT:</strong> Dilsa Gonzalez, a part-time worker at McDonald’s, will deliver the food that she can afford, to the President of the Chamber of Commerce, Matt Mahood.</p>

        <p><strong>WHEN:</strong> Monday, November 7th at 10:30 AM</p>
        <p><strong>WHERE:</strong> The San Jose Chamber of Commerce</p>
        <p><strong>WHO:</strong> Dilsa Gonzalez, a part-time worker at McDonald’s and other impacted hourly workers, faith, community and labor leaders</p>
        <p><strong>VISUAL:</strong> A group of hourly San Jose workers, community, faith and labor leaders will rally behind Dilsa Gonzalez in front of the San Jose Chamber of Commerce holding signs, chanting, and marching. Matt Mahood, the President of the San Jose Chamber of Commerce may accept the basket from Dilsa Gonzalez and the delegation.</p>
        
        <p><strong>Please RSVP to <a href="mailto:dianna@southbaylabor.org">dianna@southbaylabor.org</a></strong>


                

    </div><!-- .site-section--content -->
</section><!-- .site-section -->