---
title: "Victory! 63% of Voters Back Measure E"

desc: "Tens of thousands of part-time workers in San Jose gain the opportunity to work"

social_image: "share_victory.jpg"

---

<!-- HERO -->
<section class="site-section site-section--hero site-section--inside-hero hero-bg--inside hero-bg--party inside-hero">
</section>

<!-- MAIN CONTENT -->
<section class="site-section site-section--grey">
    <div class="site-section__content site-section__content--no-bottom-padding">

    <div class="grid grid--two-col grid--six-four">
        <div class="grid__col">

            <article class="card card--push-up content">

                <h1>Victory!</h1>

                <h2>63% of Voters Back Measure E</h2>

                <p>Last week, fast food worker Dilsa Gonzalez <%= link_to 'wrote', 'https://medium.com/@dilsa.gonzalez.sanjose/an-open-letter-to-matt-mahood-92ff34073f9#.4u6f1xht3', :target => "_blank" %> "I’m hungry because I can’t afford the food I need, but I am also hungry for opportunity.” On Tuesday, Dilsa and tens of thousands of other part-time workers in San Jose won that opportunity.</p>

                <p><%= link_to 'Unofficial results', 'http://results.enr.clarityelections.com/CA/Santa_Clara/64404/182962/Web01/en/summary.html', :target => '_blank' %> show that 63% of voters backed Measure E: the Opportunity to Work initiative. This initiative marks the first time a policy requiring employers to offer extra hours to their current workers has been on the ballot in the United States, and it passed decisively.</p>

                <p>This fight isn’t over. We have to make sure there's a strong implementation plan for the ordinance, so bad employers don’t simply cheat the system. And more broadly, we need to continue <%= link_to 'Silicon Valley Rising&#39;s', 'http://siliconvalleyrising.org/', :target => "_blank" %> work to build an inclusive middle class.</p>

                <p>As the country grapples with the results from Tuesday night, this work is all the more important. Here in Silicon Valley we're showing that economic opportunity needn’t come at the price of racial equity, but that smart policies and bold movements address both. When working people, voters, women, and people of color rise up together, we drive progress.</p>

                <p>Now more than ever we must stand strong.</p>

            </article>

        </div>
        <div class="grid__col">
            <aside class="sidebar sidebar--yellow sidebar--left-arrow">
                <h3 class="sidebar__heading">Join Silicon Valley Rising</h3>
                <p>Measure E was an initiative of Silicon Valley Rising, a coalition of labor, community organizations, faith leaders, and workers committed to building an inclusive middle class.</p>

                <p>We're raising wages, increasing affordable housing, and creating a tech economy that works for everyone.</p>

                <p>Sign up to learn more about our campaigns:</p>

                <script src='https://actionnetwork.org/widgets/v2/form/i-stand-with-the-working-families-of-silicon-valley?format=js&source=widget'></script><div id='can-form-area-i-stand-with-the-working-families-of-silicon-valley' style='width: 100%'><!-- this div is the target for our HTML insertion --></div>
            </aside>
        </div>
            

    </div><!-- .site-section--content -->
</section><!-- .site-section -->