.logo {
	@include font-futura;
	color: $green-text;

	a {
		transition: all $transition-time-ease;
	}
}

// ICON

$icon-size-header: 45px;
$icon-size-footer: 55px;

.logo a:before {
	content: '';
	display: inline-block;
	width: $icon-size-header;
	height: $icon-size-header;
	background-image: url('../images/icon-header_2x.png');
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: -5px;
}

.logo--footer a:before {
	width: $icon-size-footer;
	height: $icon-size-footer;
	background-image: url('../images/icon-footer_2x.png');
	vertical-align: -6px;
}

.logo__yes {
	color: $green-text;
	transition: all $transition-time-ease;
}

.logo__on {
	color: $grey-light;
	text-transform: uppercase;
	display: inline-block;
	font-size: 0.3em;
	padding: 3px 0 0 0;
	border-top: 2px solid $grey-light;
	border-bottom: 2px solid $grey-light;
	vertical-align: middle;
}

.logo__e {
	color: $yellow;
	transition: all $transition-time-ease;
}