/*******
LINK BLOCKS
*******/


.link-block .link-block__heading { //specificity hack to override content rules
	color: $green-text;
	transition: all $transition-time-ease;
}

.link-block .link-block__content {
	font-weight: normal;
}

.link-block .link-block__more-link {
	color: $green-text;
	display: inline-block;
	margin-bottom: 0;

	&:active {
		color: darken($green-text, 10%);
	}
}

.link-block:hover {
	.link-block__heading {
		color: $yellow;
	}
}