---
title: "Alejandra's Story"

date: 2016-09-27

first_name: Alejandra

slug: "alejandra"

image_main: "story_alejandra.jpg"

image_icon: "story_alejandra_icon.jpg"

quote: "They tell me there&#39;s no work, it&#39;s really slow &mdash; and yet they’re still hiring."

teaser: "When a new boss cut her hours, Alejandra Mejia had to support her family of four on just $100 a week."

---

<p>When a new boss cut her hours, Alejandra Mejia had to support her family of four on just $100 a week.</p>

<p>Alejandra has worked at McDonald’s since 2006, achieving her goal of becoming a manager two years ago. A single mother, she was working the morning shift so she could take care of her three kids after school, especially her son who's been diagnosed with ADHD.</p>

<p>Then new management came in and moved Alejandra to a different schedule. When she explained that she needed to be home by 4pm, they said “no problem” &mdash; and just cancelled her shifts. Paid $12 an hour, Alejandra was left with only eight hours of work a week.</p>

<blockquote class="pull-quote pull-quote--right">
    <p class="pull-quote__quote">They tell me there’s no work, it’s really slow – and yet they’re still hiring.</p>
    <cite class="pull-quote__cite">Alejandra Mejia</cite>
</blockquote>

<p>She was already on food stamps, and lives with her children in one bedroom of a house shared with five other adults. Working less than 20 hours a week, she no longer qualified for her daughter’s free child care program. And with a constantly-changing schedule, she couldn’t take a second job since she didn’t know when she would be free.</p> 

<p>Alejandra begged for more hours at McDonald’s, but her bosses said there was no more work available &mdash; even as they continued to hire new people.</p>

<p>When Alejandra began telling her story to the media, McDonald’s management suddenly changed their tune. They gave her a piece of paper and asked her to write down when she could work. Now she’s making between $600 and $800 a month: not much, but enough to scrape by.</p>

<p>For Alejandra, Measure E is about making sure it doesn’t take a press conference to get enough hours of work. “All my coworkers only have part-time jobs,” she says. “This initiative will help us get the hours we need to take care of our families.”</p>














