---
title: "Kisha's Story"

social_title: "Kisha Collins could only get 15 hours a week. Read her story."

date: 2016-10-04

first_name: Kisha

slug: "kisha"

image_main: "story_kisha.jpg"

image_icon: "story_kisha_icon.jpg"

quote: "Fifteen hours a week isn’t enough to cover even the basics."

teaser: "When Kisha Collins worked at the Spaghetti Factory, managers refused to schedule anyone for more than 15 hours per week."

social_image: "share_kisha.png"

---

<p>While working as a host at the Spaghetti Factory, Kisha Collins wondered why the managers refused to schedule anyone for more than 15 hours per week. Although many of the staff are students, Kisha and her coworkers would have welcomed more hours.</p>

<blockquote class="pull-quote pull-quote--right">
    <p class="pull-quote__quote">Fifteen hours a week isn’t enough to cover even the basics like food, car insurance, and my phone.</p>
    <cite class="pull-quote__cite">Kisha Collins</cite>
</blockquote>

<p>“San Jose is an expensive place to live. I’m in college and I have the support of my family, but I still need a job to help pay the bills," she says. If it’s hard for me &mdash; and it is! &mdash; I can’t imagine how someone supports a family on 15 hours a week.”</p>
 
<p>Some days, Kisha was scheduled for a full shift but her manager pressured her to go home after just two hours. Instead of fifteen hours those weeks she’d get ten or even less.</p> 

<p>After months of making herself available for more hours, and trying to keep her schedule open in case extra shifts opened at the last minute, Kisha had had enough. She quit. She says that many of her coworkers also grew tired of being expected to be available 24/7 but working so little.</p>

<p>“Spaghetti Factory spent time training us and then had to train new people when we left.  Businesses will benefit from Opportunity to Work because employees who have enough hours to survive won’t quit like we did.”</p>















