---
title: "Pablo's Story"

date: 2016-10-05

first_name: Pablo

slug: "pablo"

image_main: "story_pablo.jpg"

image_icon: "story_pablo_icon.jpg"

quote: "They give us fewer hours to avoid giving us benefits."

teaser: "In his 16 years as a fast food cook, Pablo Nervaez has learned to manage every cent, and every minute."

social_image: "share_pablo.jpg"

---

<p>In his 16 years as a fast food cook, Pablo Nervaez has learned to manage every cent, and every minute.</p>

<p>To support his two children in college and help his other son start a small business, Pablo pieced together three part-time jobs at McDonald’s, Carl’s Jr, and KFC. It was a brutal schedule: he’d finish at KFC at 4pm, and have to run across the street for his Carl’s Jr shift that started at the same time. He’d go hungry until his break several hours later, and could only sleep three or four hours a night.</p>

<p>Even with all three jobs, Pablo had to carefully watch his expenses so he could send money to his kids. He shares one room in an apartment where six people live &mdash; and to make the $500 deposit when he moved in, he cut back to eating one meal a day. After paying his rent and cell phone bill (needed so his managers can reach him) on the first of every month, he tries to get through the rest of the month spending as little as possible.</p>

<p>Pablo frequently asks his managers for more hours, but they don’t come through. Instead, they hire more part-time workers so they can avoid paying for benefits.</p>

<blockquote class="pull-quote pull-quote--right">
    <p class="pull-quote__quote">They give us fewer hours to avoid giving us benefits.</p>
    <cite class="pull-quote__cite">Pablo Nervaez</cite>
</blockquote>

<p>Yet even Pablo’s careful planning wasn’t enough when he badly injured his hand and had to stop working. With nowhere else to turn &mdash; his friends are all in the same situation, barely making ends meet &mdash; he took out a high-interest payday loan for $1,800 to make it through the first month.</p> 

<p>He lost two of his jobs, and is now back working part-time at McDonald’s, cooking with only his other hand. He’s still trying to pay back the loan, which will cost over $2,500 with interest.</p>

<p>For Pablo, the Opportunity to Work initiative means he could get one full-time job, with health insurance so he could get his hand treated properly. It means he wouldn’t have to rush from job to job, so he could get more sleep. And it means he’d have the money to start an emergency fund and avoid another predatory loan.</p>

<p>“I’ll do anything for my family,” Pablo says. “Measure E will help make sure my children can get an education and good jobs, so they don't go through what I have.”</p>














