---
title: "Sue's Story"

social_title: "Too few hours cost Sue her degree. Read her story."

date: 2016-10-27

first_name: Sue

slug: "sue"

image_main: "story_sue.jpg"

image_icon: "story_sue_icon.jpg"

quote: "Opportunity to Work would allow all of us to get the hours we need to meet our goals."

teaser: "When she couldn’t get enough work to pay the bills, Sue had to drop out of school."

social_image: "share_sue.png"

---

<p>When she couldn’t get enough work to pay the bills, Sue had to drop out of school.</p>

<p>21 years old, Sue was working at a large department store and studying for a degree in business management. For three years, she balanced her work hours with classes and homework at De Anza College. She needed to work 25 hours a week to pay for books and tuition, plus car insurance, her cell phone bill, and rent.</p>

<p>But most weeks Sue was only scheduled for 15 hours. Her requests for more hours were repeatedly rejected &mdash; while at the same time she was asked to train new employees.</p>

<p>She wondered why the store would want to bring on new people when she and her coworkers had been loyal to the company, had good performance records, and needed the hours.</p>

<blockquote class="pull-quote">
    <p class="pull-quote__quote">Those of us who choose part-time work shouldn’t be stuck with just a few hours a week. The difference in earnings between 15 and even 20 hours would have made it possible for me to stay in school and get my degree sooner.</p>
    <cite class="pull-quote__cite">Sue</cite>
</blockquote>

<p>Eventually, Sue couldn’t afford to stay in school while working only 15 hours a week. She accepted a promotion to department manager, which came with a raise from minimum wage to $11.15 per hour and a schedule of 37 hours per week. Although in the short term she appreciates the increased income, she’s determined to go back to school.</p>

<p>For Sue, Measure E would help her get access to the hours she needs to finish college and have a strong career with economic security.</p>

<p>She knows she’s not alone. “Many of my coworkers who would like full-time hours are really struggling too,” Sue says. “Opportunity to Work would allow all of us &mdash; students, parents, older folks &mdash; to get the hours we need to meet our goals.”</p>















