---
title: "Patriotic Millionaires endorse Measure E"

desc: "Successful business leaders back the Opportunity to Work Initiative"

social_image: "share-patriotic-millionaires.png"
---

<!-- SECTION HEADING -->
<%= partial(:subheader_generic, :locals => { :heading => 'Endorsements' }) %>

<!-- MAIN CONTENT -->
<section class="site-section">
    <div class="site-section__content">

        <div class="grid grid--two-col grid--seven-three">
        	<div class="grid__col main-col content">

        		<h2>Patriotic Millionaires Endorse Measure E</h2>

        		<p>The <%= link_to 'Patriotic Millionaires', 'http://patrioticmillionaires.org', :target => '_blank' %>, a group of high-net worth Americans who are committed to building a more prosperous, stable and inclusive nation, have formally endorsed San Jose’s Measure E, the Opportunity to Work Initiative. The group supports legislation that advances three core principles, one of which is that all citizens who work full time should be able to afford their basic needs.</p>

        		<p>The organization released the following statement in support of Measure E:</p>

        		<blockquote class="pull-quote">
                    <div class="pull-quote__quote">
                        <p>“Earlier this year, California legislators voted to raise the minimum wage across the state &mdash; a move that benefits low-wage workers, small businesses, and the state's economy as a whole. Now, as the 10th largest city in the nation, San Jose is leading the next fight: the fight to ensure that part-time workers have the opportunity to participate more fully in the growing Bay Area economy.</p>

                        <p>Large businesses who avoid the costs associated with benefits such as health insurance are not just stunting the individuals, they are stunting the prosperity of the region as a whole. California led the way on wages, and now San Jose is leading the way on the opportunity for workers to be able to fully participate in the economy with Measure E.”</p>
                        
                    </div>
        		</blockquote>

        		<p><%= link_to 'A report', 'http://www.wpusa.org/Publication/A_Hidden_Crisis.pdf', :target => '_blank' %> released earlier this year exposed the widespread crisis of underemployment in San Jose. To help combat the problem locally, Measure E would require medium and large businesses to offer available work hours to existing, qualified part-time employees before hiring new staff.</p>

                

        	</div>
            <div class="grid__col">
                <%= partial(:sidebar, :locals => { :classes => '', :heading => 'Stay Informed', :ask => 'Sign up to get the latest updates on Measure E:' }) %>
            </div>

        </div><!-- .grid -->

    </div><!-- .site-section--content -->
</section><!-- .site-section -->