---
title: "Share Your Story"

desc: "Part-time employees need the opportunity to work."
---




<!-- MAIN CONTENT -->
<section class="site-section">
    <div class="site-section__content">

    <div class="grid grid--two-col grid--seven-three">
    	<div class="grid__col main-col content">

    		<h2>Share Your Story</h2>

            <p>San Jose has a <%= link_to 'crisis of underemployment', '/why.html', :target => '_blank' %>. To avoid paying fair wages and benefits, too many employers hire new part-time workers instead of giving hours to current employees.</p>

            <p><%= link_to 'Measure E', '/about.html', :target => '_blank' %> &mdash; on the November ballot &mdash; will require businesses to offer any available additional hours to their current, qualified part-time employees before hiring more workers.</p>

            <p class="big-text big-text--yellow">Join us in making sure part-time workers can take care of their families &mdash; sign up to get updates on the campaign.</p>
    		
    	</div>
    	<div class="grid__col">
            <aside class="sidebar sidebar--yellow">
                <h3 class="sidebar__heading">Share Your Story</h3>
                <p>Are you a part-time worker struggling to make ends meet?</p> 

                <p>Help us fix this problem by telling your story:</p>

                <script>window.yepnope || document.write('<script src="https://actionnetwork.org/includes/js/yepnope154-min.js"><\/script>');</script><script src='https://actionnetwork.org/widgets/v2/form/share-your-story-17?format=js&source=widget'></script><div id='can-form-area-share-your-story-17' style='width: 100%'><!-- this div is the target for our HTML insertion --></div>

            </aside>
    	</div>
    </div><!-- .site-section--content -->
</section><!-- .site-section -->