---
title: "Share Your Story"

desc: "Part-time employees need the opportunity to work."
---

<!-- SECTION HEADING -->
<%= partial "subheader_action" %>


<!-- MAIN CONTENT -->
<section class="site-section">
    <div class="site-section__content">

    <div class="grid grid--two-col grid--seven-three">
    	<div class="grid__col main-col content">

    		<h2>Share Your Story</h2>

            <p>To pass Measure E and ensure companies offer additional hours to their current workers before hiring more part-timers, we need to make sure people understand San Jose's underemployment crisis.</p>

            <p>One of the best ways to do that is through stories that show how hard it is to get by when you can't get enough hours of work each week.</p>

            <p class="big-text big-text--yellow">Can you tell us your story about surviving in Silicon Valley? We'll make sure the community hears you.</p>

            <p><em>P.S. &mdash; know someone with a story? Send them our way!</em></p>
    		
    	</div>
    	<div class="grid__col">
            <aside class="sidebar sidebar--yellow">
                <h3 class="sidebar__heading">Share Your Story</h3>
                <p>Are you a part-time worker struggling to make ends meet?</p> 

                <p>Help us fix this problem by telling your story:</p>

                <script>window.yepnope || document.write('<script src="https://actionnetwork.org/includes/js/yepnope154-min.js"><\/script>');</script><script src='https://actionnetwork.org/widgets/v2/form/share-your-story-17?format=js&source=widget'></script><div id='can-form-area-share-your-story-17' style='width: 100%'><!-- this div is the target for our HTML insertion --></div>

            </aside>
    	</div>
    </div><!-- .site-section--content -->
</section><!-- .site-section -->