---
title: "Get Out the Vote"

desc: "Let's get out the vote for Measure E."
---

<!-- SECTION HEADING -->
<%= partial "subheader_action" %>


<!-- MAIN CONTENT -->
<section class="site-section">
    <div class="site-section__content">

    <div class="grid">
    	<div class="main-col content">

    		<h2>Let's get out the vote for Measure E!</h2>

            <p class="big-text">GOTV Schedule:</p>

            <p>Saturday, November 5th - Tuesday, November 8th</p>
            
            <p><strong>Precinct Walking</strong><br>
            9:00am to 8:30pm</p>

            <p><strong>Phone Banking</strong><br>
            10:15am to 8:30pm</p>

            <p><em>Breakfast, Lunch, &amp; Dinner Served</em></p>

            <p>Meet at 2102 Almaden Road, San Jose, CA 95125</p>
    		
    	</div>
    </div><!-- .site-section--content -->
</section><!-- .site-section -->