<% link_to 'http://www.wpusa.org/Publication/A_Hidden_Crisis.pdf', :class => "link-block link-block--popout story-link" do %>

    <div class="media-object media-object--collapse-mobile">
        <img class="media-object__figure media-object__figure--circle" src="http://lorempixel.com/600/600/people/" alt="Alejandra Mejia">
        <blockquote class="media-object__content story-link__quote">&ldquo;They tell me there&#39;s no work, it&#39;s really slow &mdash; and yet they’re still hiring.&rdquo;</blockquote>
    </div>

    <p class="link-block__content story-link__content">When a new boss cut her hours, Alejandra Mejia had to support her family of four on just $100 a week.</p>

    <p class="link-block__more-link">Read Alejandra&#39;s Story</p>
<% end %>