<section class="site-section site-section--subheader">
    <div class="site-section__content subheader">
        <h1 class="subheader__heading"><%= link_to 'About Measure E', 'about.html' %></h1>

        <nav class="subheader__nav line-nav">
            <ul>
                <li class="line-nav__item"><%= link_to 'FAQs', 'about/faqs.html', :class => 'line-nav__link' %></li>
                <li class="line-nav__item"><%= link_to 'Chamber Lies', 'about/lies.html', :class => 'line-nav__link' %></li>
            </ul>
        </nav>
    </div>
</section>