<section class="site-section site-section--subheader">
    <div class="site-section__content subheader">
        <h1 class="subheader__heading"><%= link_to 'Stories', 'stories.html' %></h1>
    </div>
</section>