---
title: "About Measure E"
---

<!-- SECTION HEADING -->
<%= partial "subheader_about" %>

<!-- MAIN CONTENT -->
<section class="site-section">
    <div class="site-section__content">

    <div class="grid grid--two-col grid--seven-three">
    	<div class="grid__col main-col content">

    		<h2>Measure E will help hourly workers get access to enough hours so their paycheck covers the bills and puts food on the table.</h2>

    		<p>In San Jose, the number of workers stuck in part-time jobs who want full-time work has shot up 33% just since the recession. 77% of these workers make less than $15 an hour, but even a decent wage won't cut it if you can’t get enough hours of work.</p>

            <p>Measure E will ensure that if a company has more hours of work and an existing part-time employee who is qualified to do that job, the employer has to offer them those hours before hiring another part-timer.</p>

            <p>The employer decides who is qualified to do the job, and can offer additional hours through any fair, transparent process. Employees are always free to turn down additional hours if it doesn't fit their schedule, and small businesses are exempt from Measure E.</p>

            <p><%= link_to 'Measure E is supported by a broad coalition of elected officials, community organizations, and civic leaders.', 'endorsements.html' %></p>
    		
    	</div>
    	<div class="grid__col">
            <%= partial(:sidebar, :locals => { :classes => '', :heading => 'Stay Informed', :ask => 'Sign up to get the latest updates on Measure E:' }) %>
    	</div>
    </div><!-- .site-section--content -->
</section><!-- .site-section -->

<!-- MORE LINKS -->
<section class="site-section site-section--green">
    <div class="site-section__content content">

        <ul class="grid--three-col">

            <li class="grid__col">
                <% link_to 'about/faqs.html', :class => "media-object link-block link-block--white" do %>
                    <div class="media-object__content">
                        <h3 class="link-block__heading">FAQs</h3>
                        <p class="link-block__content">Get answers to common questions about Measure E: Opportunity to Work</p>
                        <p class="link-block__more-link">Read FAQs</p>
                    </div>
                <% end %>
            </li>

            <li class="grid__col">
                <% link_to 'about/lies.html', :class => "media-object link-block link-block--white" do %>
                    <div class="media-object__content">
                        <h3 class="link-block__heading">Chamber Lies</h3>
                        <p class="link-block__content">Measure E’s opponents have made a slew of misleading claims about the initiative</p>
                        <p class="link-block__more-link">Get the facts</p>
                    </div>
                <% end %>
            </li>

            <li class="grid__col">
                <%= partial "bottom-story" %>
            </li>

        </ul>

    </div><!-- .site-section--content -->
</section><!-- .site-section -->




























