---
title: "Endorsements"

electeds:
- "Mike Honda, Congressmember"
- "Jim Beall, State Senator"
- "Bob Wieckowski, State Senator"
- "Bill Monning, State Senator"
- "Luis Alejo, Assemblymember"
- "Nora Campos, Assemblymember"
- "Mark Stone, Assemblymember"
- "Anna Caballero, Former Assemblymember"
- "Dave Cortese, President of the Santa Clara County Board of Supervisors"
- "Cindy Chavez, Santa Clara County Supervisor"
- "Ken Yeager, Santa Clara County Supervisor"
- "Sylvia Arenas, Evergreen School District Trustee and Candidate for San Jose City Council"
- "Karina Cervantez Alejo, Watsonville Mayor Pro Tempore"
- "Ash Kalra, San Jose City Council Member"
- "Donald Rocha, San Jose City Council Member"
- "Raul Peralez, San Jose City Council Member"
- "Richard Waterman, Former Mayor of the City of Campbell"
- "Rod Sinks, City of Cupertino Council Member"
- "Teresa O’Neill, City of Santa Clara Vice Mayor"
- "Kathy Watanabe, City of Santa Clara Council Member"
- "Debi Davis, City of Santa Clara Council Member"
- "John McLemore, Former City of Santa Clara Council Member"
- "Patricia Mahan, Former City of Santa Clara Mayor and Council Member"
- "Margaret Abe-Koga, Former Mayor and Council Member of City of Mountain View"
- "Jim Davis, City of Sunnyvale Council Member"
- "Tara Martin Milius, City of Sunnyvale Council Member"
- "Carmen Montano, City of Milpitas Vice Mayor"
- "John L. Varela, Director Santa Clara Valley Water District 1 and 2016 Vice Chair"
- "Barbara Keegan, Director – Santa Clara Valley Water District 2 and 2016 Board Chair"
- "Richard P. Santos, Director - Santa Clara Valley Water District 3"
- "Albert Gonzalez, Santa Clara Unified School District Board President"
- "Noelani Sallings, Santa Clara Unified School District Trustee"
- "Wendy Ho, San Jose Evergreen Community College District Trustee"
- "Karen Martinez, Alum Rock Union Elementary School District Board of Trustees Member"
- "Robert Nuñez, Milpitas Unified School District Vice President of the Governing Board"
- "Gunawan Ali-Santosa, Milpitas Unified School District President of the Governing Board"
- "Mayra Cruz, San Jose-Evergreen Community College District Trustee"
- "Lan Nguyen, East Side High School District Board President"
- "Patrick Kwok, Director - Cupertino Sanitation District"
- "Teresa Castellanos, San Jose Unified School District Trustee"

organizations:
- "Santa Clara County Board of Supervisors"
- "Interfaith Council on Economics and Justice"
- "Minority Business Consortium"
- "Morgan Hill Federation of Teachers"
- "National Association for the Advancement of Colored People (NAACP) – San Jose/Silicon Valley Chapter"
- "National Women’s Political Caucus Silicon Valley"
- "AFSCME 101"
- "California Nurses Association"
- "California Alliance for Retired Americans, Santa Clara County Action Team"
- "Commission on the Status of Women (CSW)"
- "Council on American Islamic Relations – California"
- "DAWN (Democratic Activists for Women Now)"
- "Santa Clara County Democratic Party"
- "Dean Democratic Club of Silicon Valley"
- "Deanery Six, Diocese of San Jose"
- "Federation of Retired Union Members"
- "IFPTE Local 21"
- "Latina Coalition of Silicon Valley"
- "Latinos United for a New America (LUNA)"
- "The League of Latin American Citizens - California (CA LULAC)"
- "PACT: People Acting in Community Together"
- "Patriotic Millionaires"
- "Sacred Heart Community Service"
- "SEIU 521"
- "SEIU 521 Retirees Santa Clara County Caucus"
- "SEIU United Healthcare Workers"
- "SEIU United Service Workers West"
- "Services, Immigrant Rights and Education Network (SIREN)"
- "Silicon Valley De-Bug"
- "Silicon Valley Rising"
- "Silicon Valley Vietnamese American Chamber of Commerce"
- "Silicon Valley Young Democrats"
- "Somos Mayfair"
- "South Bay AFL-CIO Labor Council"
- "Swilley Graphics"
- "Working Blue Democratic Club of Silicon Valley"
- "Working Partnerships USA"

individuals:
- "Tom Steyer, Founder of NextGen Climate*"
- "Helen Chapman, Candidate for San Jose City Council"
- "Sergio Jimenez, Candidate for San Jose City Council"
- "Harry Adams, Chair, Santa Clara County Human Relations Commission*"
- "Bishop Patrick McGrath"
- "Rabbi Dana Magat, Temple Emanu-El*"
- "Fouad Khatib, Muslim Community Association President*"
- "Pastor Oscar Dace, Bible Way Christian Center*"
- "Reverend Peg Bryan, St. Andrews Episcopal Church*"
- "Angie Nunn, California School Employees Association*"
- "Sheillena Brunston, Amalgamated Transit Union Local 265*"
- "Sal Ventura, IBEW 332*"
- "LaVerne Washington, AFSCME 101*"
- "Jon Paul Wolfe, IBEW 332*"
- "Jonathan Karpf, California Faculty Association*"
- "Fred Hirsch, UA 393*"
- "John Nevill, Healthcare Administrator"
- "Tony Alexander"
- "Judy Pipkin"
- "Donald Christopher Young, Candidate for Campbell City Council"
- "David Fung, Candidate for Cupertino City Council"
- "Jerry Liu, Candidate for Cupertino City Council"
- "Anthony Phan, Candidate for Milpitas City Council"
- "Mark Tiernan, Candidate for Milpitas City Council"
- "Mario Banuelos, Candidate for Morgan Hill City Council"
- "Rene Angelo Spring, Candidate for Morgan Hill City Council"
- "Thida Cornes, Candidate for Mountain View City Council"
- "Ken “Kacey” Carpenter, Candidate for Mountain View City Council"
- "Lucas Ramirez, Candidate for Mountain View City Council"
- "Tino Silva, Candidate for Santa Clara City Council"
- "Sudhanshu Jain, Candidate for Santa Clara City Council"
- "Dr. Mohammed Nadeem, Candidate for Santa Clara City Council"
- "Ahmad Rafah, Candidate for Santa Clara City Council"
- "Nancy Smith, Candidate for Sunnyvale City Council"
- "Bruce Huynh, Candidate for Alum Rock School Board"
- "Anna Welsh, Candidate for Santa Clara United School District"
- "Ro Khanna, Candidate for Congress"
- "Linda Williams"
- "Sparky Harlan"

---

<!-- SECTION HEADING -->
<%= partial(:subheader_generic, :locals => { :heading => 'Endorsements' }) %>

<!-- MAIN CONTENT -->
<section class="site-section">
    <div class="site-section__content content">

        <p class="big-text">Measure E is supported by a broad coalition of community organizations, elected officials, and civic leaders.</p> 

        <p class="big-text">It's been endorsed by candidates in every San Jose City Council race, Bishop Patrick McGrath, the Minority Business Consortium, and philanthropist Tom Steyer.</p>

        <div class="grid grid--three-col">
        	<div class="grid__col">
                <h2>Elected Officials</h2>

                <ul>
                    <% current_page.data.electeds.each do |endo| %>
                        <li><%= endo %></li>
                    <% end %> 
                </ul>

        	</div>
        	<div class="grid__col">
                <h2>Organizations</h2>

                <ul>
                    <% current_page.data.organizations.each do |endo| %>
                        <li><%= endo %></li>
                    <% end %> 
                </ul>
        	</div>
            <div class="grid__col">
                <h2>Individuals</h2>

                <ul>
                    <% current_page.data.individuals.each do |endo| %>
                        <li><%= endo %></li>
                    <% end %> 
                </ul>
            </div>

        </div><!-- .grid -->

        <p><em>* Affiliations listed for identification purposes only</em></p>

    </div><!-- .site-section--content -->
</section><!-- .site-section -->



























