---
title: Yes on Measure E: Opportunity to Work
---

<section class="site-section site-section--hero">
    <div class="site-section__content hero">

    	<div class="hero__text">
    		<h1 class="hero__heading"><span class="hero__heading--small">Give part-time employees the</span> <span class="hero__heading--mid">Opportunity</span> <span class="hero__heading--large">to Work</span></h1>

    		<p class="hero__desc"><strong>Measure E</strong> will require businesses to offer any available <strong>additional hours</strong> to their current, qualified part-time employees <strong>before hiring more workers.</strong></p>
    	</div>

    </div>
</section>


<section class="site-section">
    <div class="site-section__content">

    <div class="grid grid--two-col grid--two-col-six-four">
    	<div class="grid__col main-col content">

    		<h2>While the Silicon Valley economy is booming, working people are caught in an ever-increasing struggle to make ends meet.</h2>

    		<p><a href="">Measure E</a> will provide hourly workers the opportunity to work more hours so they can earn enough to pay their bills and put food on the table for their families.</p>

    		<p><a href="">The Underemployment Crisis</a> | <a href="">About the Initiative</a></p>

    		
    	</div>
    	<div class="grid__col">
    		<aside class="sidebar sidebar--yellow">
    			
    		</aside>
    	</div>
    </div>
</section>