---
title: Yes on Measure E: Opportunity to Work
---

<section class="site-section site-section--hero">
    <div class="site-section__content hero">

    	<div class="hero__text">
    		<h1>Give part-time employees the Opportunity to Work</h1>

    		<p><strong>Measure E</strong> will require businesses to offer any available <strong>additional hours</strong> to their current, qualified part-time employees <strong>before hiring more workers.</strong></p>
    	</div>

    </div>
</section>
