---
title: "Rally at McDonald's for the Opportunity to Work"

desc: "Keeping workers part-time to avoid paying fair wages and benefits is not okay."

social_image: "mcdonalds-share.png"

---

<!-- HERO -->
<section class="site-section site-section--hero site-section--inside-hero hero-bg--inside hero-bg--dilsa inside-hero">
    <div class="site-section__content">

        <div class="inside-hero__text">
            <h1 class="inside-hero__headline">Stand with Dilsa</h1>
            <p class="inside-hero__subhead">Rally at McDonald's for the Opportunity to Work</p>
        </div>        
    </div>
</section>


<!-- MAIN CONTENT -->
<section class="site-section site-section--grey">
    <div class="site-section__content site-section__content--no-bottom-padding">

    <div class="grid grid--two-col grid--six-four">
    	<div class="grid__col">

            <article class="card card--push-up content">

        		<p class="letter-intro">I’ve worked hard at McDonald’s for 16 years, but two years ago I was cut to less than 20 hours a week. At $10.65 an hour, that’s not nearly enough to pay for rent.</p> 

                <p>I’ve asked for more hours, but McDonald’s won’t let me work more, even though they’re constantly hiring new people.</p>

                <p><strong>Join me to tell McDonald’s that keeping workers part-time to avoid paying fair wages and benefits is not okay — and we’re taking them on.</strong></p> 

                <p class="hide-mobile"><%= link_to 'Measure E', '/about.html', :target => '_blank' %> will require companies like McDonald’s to offer extra hours to me and my co-workers before they hire more part-timers.</p>

                <p class="hide-mobile">On Wednesday Nov. 2, we’re rallying outside McDonald’s to make sure everyone knows how Measure E can stop companies from exploiting hourly workers. Will you be there?</p>

                <p class="hide-mobile">Winning a path to a $15 minimum wage was a big step forward. But hourly workers like me know that even a decent wage isn’t enough if you can only get a few hours of work. That’s why Measure E is so important.</p>

                <p class="hide-mobile">Please join me on Wednesday as we fight for the opportunity to work!</p>

                <p>Thank you,<br>
                Dilsa Gonzalez</p>

            </article>
    		
    	</div>
    	<div class="grid__col">
            <aside class="sidebar sidebar--yellow sidebar--left-arrow">
                <h3 class="sidebar__heading">Rally for Fair Wages &amp; Hours</h3>
                <p>4pm on Wednesday, Nov. 2nd<br>
                McDonalds<br>
                898 South Bascom Ave<br>
                San Jose, CA 95128</p>

                <script src='https://actionnetwork.org/widgets/v2/event/rally-for-fair-wages-and-hours?format=js&source=widget'></script><div id='can-event-area-rally-for-fair-wages-and-hours' style='width: 100%'><!-- this div is the target for our HTML insertion --></div>
            </aside>
    	</div>
    </div><!-- .site-section--content -->
</section><!-- .site-section -->