---
title: "Thank You"

desc: "Part-time employees need the opportunity to work."

social_title: "Yes on Measure E"

social_image: "share_story_2.jpg"
---

<!-- HERO -->
<section class="site-section site-section--hero site-section--inside-hero hero-bg--family">
    
</section>


<!-- MAIN CONTENT -->
<section class="site-section">
    <div class="site-section__content">

    	<div class="main-col content">

    		<h2>Thanks for signing up!</h2>

            <p>Together, we can make sure big companies give their workers the hours they need to cover Silicon Valley's sky-high living costs.</p>

            <p>Can you help us spread the word about Measure E? Click the button below to share this campaign on Facebook, and add a note about why Opportunity to Work matters to you.</p>

            <p><a href="https://www.facebook.com/sharer/sharer.php?u=http://opportunitytowork.org<%= current_page.url %>" class="button button--green" target="_blank">Share on Facebook</a></p>
    		
    </div><!-- .site-section--content -->
</section><!-- .site-section -->